main {
  text-align: center;
}

.loader {
  animation: is-rotating 1s infinite;
  border: 6px solid rgba(152, 152, 152, 0.452);
  border-radius: 100%;
  border-top-color: rgba(64, 64, 242, 0.572);
  height: 50px;
  margin: 20px auto;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

.music {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

li {
  list-style: none;
}
